#calculator-body {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    width: 320px;
    height: 400px;
    padding: 25px;
    background-color: black;
}

#display {
    display: flex;
    justify-content: flex-end;
    font-size: 80px;
    width: 310px;
    margin: auto;
    background-color: lightcyan;
}

#button-container {
    display: flex;
    height: 288px;
    width: 310px;
    margin: auto;
}

#container-one, #container-two {
    display: flex;
}

#container-one {
    width: 240px;
    flex-wrap: wrap;
}

#container-one .button {
    border: solid black 1px;
    flex-grow: 1;
    width: 70px;
    height: 70px; 
}

#container-two {
    flex-direction: column;
    width: 80px;
}

#equal-sign {
    background-color: orange;
}

#clear-sign {
    background-color: red;
}

.button {
    border: solid black 1px;
    display: flex;
    width: 80px;
    height: 70px;
    align-content: center;
    justify-content: center;
    background-color: lightgrey;
    font-size: 25px;
}

#container-two .button {
    background-color: gray;
}